* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background: linear-gradient(0deg,
      #4158d0 0%,
      #c850c0 40%,
      #ffcc70 90%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 0 auto;
}

.header__title {
  margin-top: 24px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 4px;
}

.form-task {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: aliceblue;
  height: 48px;
  border-radius: 4px;
  align-items: center;
  opacity: 0.8;
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  overflow: hidden;

  white-space: nowrap;
}

.input-task {
  min-width: 100;
  height: 24px;
  border-radius: 4px;
  margin-left: 16px;
}

.btn-add-task {
  min-width: 100px;
  height: 24px;
  background-color: #e1b074;
  border-radius: 4px;
  margin-left: 8px;
  margin-right: 16px;
}

.btn-add-task:hover {
  background-color: #e4a252;
}
.btn-add-task:active {
  background-color: #ff9009;
}

.no-task {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
}

.task-render {
  margin-top: 20px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.736);
  border-radius: 4px;
  min-height: 48px;
  align-items: center;
  padding: 16px 16px;
  margin-top: 8px;
}

.todo-item.delete-anim {
  animation: opacity 1s ease-in-out;
}

.description {
  min-width: 100px;
  word-wrap: break-word;
}

.buttons {
  display: flex;
  align-items: center;
}

.btn-complete {
  height: 24px;
  width: 24px;
}

.btn-delete {
  background-color: brown;
  border-radius: 4px;
  height: 24px;
}

.checked {
  opacity: 0.5;
}

@keyframes opacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    background-color: crimson;
  }
}